@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply h-full m-0 p-0;
}

body {
  @apply
  min-w-full
  flex
  flex-col
  bg-cover
  bg-center
  bg-fixed
  bg-[url("/bg.webp")]
  select-none;
}

@media (max-width: 992px) {
  main {
    @apply h-full flex justify-center items-center;
  }
}

@media (min-width: 993px) {
}

.big-window-msg {
  @apply flex flex-col justify-center items-center bg-white;
}

img {
  -webkit-touch-callout: none; /* Prevents callout to copy image, etc. */
  -webkit-user-select: none;   /* Prevents selection/copying of image */
  -moz-user-select: none;      /* Prevents selection/copying of image */
  -ms-user-select: none;       /* Prevents selection/copying of image */
  user-select: none;           /* Prevents selection/copying of image */
  -webkit-user-drag: none;     /* Prevents dragging of image */
  -moz-user-drag: none;        /* Prevents dragging of image */
}

@keyframes progressBar {
  0% {
    @apply h-0;
  }
  100% {
    @apply h-full;
  }
}

.animated-bg {
  @apply bg-gray-500 bg-opacity-50 relative overflow-hidden;
}

.animated-bg::before {
  content: '';
  @apply absolute left-0 bottom-0 w-full h-0 bg-blue-500;
  z-index: 0;
}

.animate-bg-transition::before {
  @apply h-full;
  animation: progressBar 3s ease-in-out forwards;
}

.svg-container {
  @apply relative z-10;
}
